<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <h1>Welcome to TextEd</h1>
        <h3><a href="index.html"><button class="button" id="Home">&nbsp;Home</button></a>
            <div class="divider"></div>
            <a href="about.html"><button class="button" id="About us">&nbsp;About us</button></a>
            <div class="divider"></div>
            <a href="login.html"><button class="button" id="Login">&nbsp;Login</button></a>
            <div class="divider"></div>
            <a href="register.html"><button class="button" id="Register">&nbsp;Register</button></a>
            <div class="divider"></div>
        </h3>
        <p>This is where all the screenshots and description goes!!</p>
    </body>
</html>