{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>Meet the Devs</h2>
    <h3>Bin Guo</h3>
    <h3>Di Li</h3>
    <h3>Kobern Dare</h3>
    <p style="float: left;"><img src="../static/devs_pics/Kobern Dare.jpg" alt="Kobern Dare" height="200px" width="160px"></p>
    <p style="padding-bottom: 150px;">
        Kobern Dare is a software engineering major with a minor in Creative Writing. He is a member of the SJSU Game Dev Club and the writer and developer of the highly impressive Twine game <a href="https://kddasa.itch.io/road-to-nowhere-interesting"><em>Road to Nowhere Interesting</em></a>. He hopes to find a future carrer in the gaming industry as a director.
    </p>
    <h3>Tanav Kudupudi</h3>
    <p>This is where we write about ourselves!!</p>
{% endblock content %}