{% extends "layout.html" %}
{% block content %}
    <h1 class="about_heading">About Page</h1>
    <h2>About TextED</h2>
    <h3>Why?</h3>
    <p>We have decided to make an educational web application platform for students to interact and meet with other students that are in similar classes as them. This is of utmost importance during this time because virtual learning prevents students from meeting their peers, making new friends, and collaborating with others for the class.</p>
    <h3>What?</h3>
    <p>Our application will let students meet new people by telling a new user to enter their schedule which then is saved into a database. Whenever a new user joins, their schedule is then compared to the other schedules in the database which then returns with a list of students that have similar classes to the user. This allows the user to meet other students and make friends with also the feature to collaborate through a messaging system. Furthermore, the platform is able to show students’ majors and hobbies in order to let students make friends who have the same hobbies or majors.</p>
    <h3>How and Where?</h3>
    <p>As of at the moment it is still a developing and work in progress application. It is being run locally and the source code to run this application can be found at <a href="https://github.com/tkudupudi2/CMPE-133"><em>our github</em></a>.</p>
    <h2>Meet the Devs</h2>
    <h3>Bin Guo</h3>
    <h3>Di Li</h3>
    <h3 class="name_title">Developer</h3>
    <p style="float: left;"><img src="../static/devs_pics/Di_LI.jpg" alt="Di Li" height="180px" width="280px"></p>
    <p>My name is Di Li, and I am a software engineering. I like listening music and playing video games when I have free time. I also like studying math and doing college projects. I created a function that people can add events in a calendar so people will not forget a class or a event in a important day. Moreover, I created a chat room function to let more students to make new friends. I am very happy to have participated this project
        development.</p>
    <h3>Kobern Dare</h3>
    <h3 class="name_title">Developer</h3>
    <p style="float: left;"><img src="../static/devs_pics/Kobern Dare.jpg" alt="Kobern Dare" height="200px" width="160px"></p>
    <p style="padding-bottom: 150px;">
        Kobern Dare is a software engineering major with a minor in Creative Writing. He is a member of the SJSU Game Dev Club and the writer and developer of the highly impressive Twine game <a href="https://kddasa.itch.io/road-to-nowhere-interesting"><em>Road to Nowhere Interesting</em></a>. He hopes to find a future carrer in the gaming industry as a director.
    </p>
    <h3>Tanav Kudupudi</h3>
    <h3 class="name_title">Developer</h3>
    <p style="float: left;"><img src="../static/devs_pics/Tanav.jpg" alt="Tanav Kudupudi" height="200px" width="160px"></p>
    <p>Tanav Kudupudi is an undergraduate student at San Jose State University pursuing a degree in Software Engineering. He has a great passion for technology and has built several PCs as a hobby. A fun fact about him is that he has travelled to over 10 different countries in his lifetime. He hopes to pursue a career in Data Science/Analytics to make the cyberworld a safer place for future generations.</p>
    <style>
        h1 {
            font-size: 4em;
            font-weight: bold;
            text-align: end;
            text-shadow: darkgray;
        }
        h2 {
            font-size: 3em;
            font-weight: normal;
        }
        h3 {
            font-size: 2em;
            font-weight: lighter;
        }
        .name_title {
            font-weight: lighter;
            font-style: italic;
            font-size: 1em;
        }
    </style>
{% endblock content %}