{% extends "layout.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<h1 class="name">TextED</h1>
<h2 class="taganimation">An education app to </h2>
<h2 class = "taganimation" id="animation"></h2>
<script type="text/javascript">
    new TypeIt("#animation", {
    strings: ['stay connected', 'build relationships', 'make new friends', 'combat virtual learning'],
    speed: 150,
    breakLines: false,
    autoStart: true,
    loop:true
}).go();
</script>
<p>
    TextED is a chat-based service designed to assist students, teachers, and schools with an easy-to-use text service. TextED allows easy one to one communication between two users, or between multiple users in a group chat.
</p>
<p>
    <a href="{{url_for('register')}}">Sign up today!</a>
</p>
<img src="../static/main_page_pics/account example.jpg" alt="An example user's profile" style="width: 65%; margin-left: auto; margin-right: auto;">
<h2>Looking to get started? Here's how!</h2>
<p>
	Register a new account, including your email address &amp; major.
</p>
{% endblock content %}