{% extends "layout.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<h1 class="name">TextED</h1>
<h2 class="taganimation">An education app to </h2>
<h2 class = "taganimation" id="animation"></h2>
<script type="text/javascript">
    new TypeIt("#animation", {
    strings: ['stay connected', 'build relationships', 'make new friends', 'combat virtual learning'],
    speed: 150,
    breakLines: false,
    autoStart: true,
    loop:true
}).go();
</script>
{% endblock content %}